body {
    margin: 0;
    font-family: Sans-Serif;
    background-color: #dbdbdb;
}

ul {
list-style-type: none;
}

h2{
    width:50%;
    margin: 20px auto 5px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 8px #2b3031;
}

form {
    margin: 1.5rem auto 5px;
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 8px #2b3031;
    padding-bottom: 0px;
    background-color: #dbdbdb;
}

button {
    cursor: pointer;
    background-color: #2b3031;
    color: white;
    border: 10px solid #2b3031;
    margin: 0 auto;
    display: block;
}

button:hover{
}
button:active {
    background-color: #320777;
    border-color: #320777;
}

.form-style {
    margin-bottom: 1rem;
}

.form-style input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 38rem;
}

.form-style input:focus {
    border-color: #1f0050;
    background-color: #f4eeff;
    outline: none;
}

.form-style label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ff2650
}

.errors input {
    border-color: #aa1754;
    background-color: #f4eeff;
}

.errors label{
 color: #aa1754;
}

input.todo {
background-color: #f6f5f5;
}

a.before {
margin-right: 50px;
color: black;
font-size: 17px;
}

a.after {

margin-left: 50px;
color: black;
font-size: 21px;
}

a {
  text-decoration: none;
  color: #4199ff;
  transition: 0.2s;

}


a:hover {
    color: #17d5df;
    text-decoration: none;
    transform: scale(1.5);
}

.message-error {
    color: red;
    text-align: center;
}

.message-correct {
    color: green;
    text-align: center;
}

li:hover{
transform: scale(1.2)
}

.is_authenticated {
    text-align: center;
    margin-top: 30px;
}
.log-text {
    font-size: 20px;
    display: inline-block;
    margin: 30px;
    margin-left: 40px;
}

.reg {
color: black;
}



