{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'urlshorter/index.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="log-text">
    {% if request.user.is_authenticated %}
    Welcome to my test task, <strong>{{ request.user.username}}</strong> <br>
    <a class="reg" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="reg" href="{% url 'register' %}">Register</a> | <a class="reg" href="{% url 'login' %}">Login</a>
    {% endif%}
</div>

    {% block content %} {% endblock %}
 {% if messages %}

        {% for message in messages %}

            {% if message.tags == 'error' %}
            <h1 class="message-error">
                {{ message }}
            </h1>
            {% else %}
            <h1 class="message-correct">
                {{ message }}
            </h1>
            {% endif %}

        {% endfor %}
        {% endif%}

</body>
</html>