{% extends 'urlshorter/base.html' %}
{% load static %}
{% block title %} Hello {% endblock %}

{% block content %}
<!--<div class="main">-->
<h2>Enter your url:</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-style {% if field.errors %} errors {% endif %}">

        {{form.source_url.errors}}
        {{form.source_url}}
    </div>
    <button type="submit">Отправить</button><br>
</form>
{% if url_id %}
    <div>
    <h2>Your new shorted url: <a href="{% url 'generated_url' url_id %}">{{short_url}}</a></h2>
    </div>
{% endif %}


    {% if request.user.is_authenticated %}
    <div class="is_authenticated">
        <h3>Hello, {{ user }}, your list with urls here! </h3>
        <ul style="">
            {% for link in links %}
            <li>
                <a class="before" href="{{link.source_url}}">{{link.source_url}}</a> --- <a class="after" href="{% url 'generated_url' link.url_id %}"> {{ domain }}{{ link.url_id }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="is_authenticated">
        <h3>Welcome, new user. Please <a href="{% url 'login' %}">log in<a> to watch the content.</h3>
    </div>
{% endif %}

{% endblock %}